[package]
name = "back"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = "0.4.37"
rusqlite = {version = "0.31.0", features = ["bundled"]}
serde_json = "1.0.115"
sha2 = "0.10.8"
